# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

/.idea/
/.github/
/node_modules/
/src/dist/
/src/style.dev.css
/src/Loader/loader.css
/src/Modal/modal.css
/src/Tabs/tabs.css
/src/Animations/words_animation.css

# Components in progress
/src/CountDown/
/src/ScrollTop/