.word_animation {
    opacity: 0;
}

.word_animation span {
    display: inline-block;
    overflow: hidden;
    line-height: .8;
}

.word_animation span span {
    display: block;
    animation: titleReveal .7s both;
}

@keyframes titleReveal {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}