@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import "Loader/loader.min.css";
@import "Modal/modal.min.css";
@import "Tabs/tabs.min.css";
@import "Animations/words_animation.css";
@import "Animations/animations.min.css";
:root{--container-padding:20px;--bg:#fff;--border-dark:#C7CCD2;--space:8px;--text-light:#121C42;}